﻿@using Owin;
@using ImovelBens.CrossCutting.Identity.Configuration
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.Owin;
@{
    ViewBag.Title = "Sair";
}

<h2>Sair</h2>

<div class="row">
    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken();
            <input type="submit" value="Sair" class="btn btn-default"/>
        }
    }

</div>
<div>
    <br/><br/>
</div>

